/* ===============================
   MENU
   =============================== */

nav {
    background: var(--cor-fundo-claro);
    padding: var(--esp-2);
    border-bottom: 1px solid var(--cor-borda);
}

.menu {
    display: flex;
    gap: var(--esp-3);
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: var(--cor-texto);
    text-decoration: none;
    padding: var(--esp-1) var(--esp-2);
    transition: 0.3s;
}

.menu li a:hover {
    background: var(--cor-hover);
    border-radius: 6px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: var(--cor-fundo-claro);
    list-style: none;
    padding: var(--esp-2);
    border: 1px solid var(--cor-borda);
}

.dropdown:hover .submenu {
    display: block;
}

/* MENU MOBILE */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background: var(--cor-fundo-escuro);
        padding: var(--esp-3);
    }

    .menu.ativo {
        display: flex;
    }

    .hamburger {
        display: block;
        color: var(--cor-texto);
    }
}